In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [6]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, 
#and 42. Then, print the series.
L=[4, 8, 15, 16, 23,42]
df1=pd.Series(L)
print(df1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
# Q2. Create a variable of list type containing 10 elements in it, and apply
#pandas.Series function on the variable print it.
list=[1,2,3,4,5,6,7,8,9,10]
series=pd.Series(list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [15]:
# Q3. Create a Pandas DataFrame that contains the following data:
import csv

data=[['Name','Age','Gender'],['Alice',25,'Female'],['Bob',30,'Male'],['Clair',27,'Male']]
df3=pd.DataFrame(data,index=None)
print(df3)

       0    1       2
0   Name  Age  Gender
1  Alice   25  Female
2    Bob   30    Male
3  Clair   27    Male

In [16]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? 
# Explain with an example.

# Data frame is two dimensional like data structure and series is one dimensional list 
# like structure

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 28],
    'City': ['New York', 'London', 'San Francisco']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)


# Creating a Series
ages = pd.Series([25, 30, 28], name='Age')
print("Series:")
print(ages)

DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30         London
2  Charlie   28  San Francisco
Series:
0    25
1    30
2    28
Name: Age, dtype: int64

In [22]:
# Q5. What are some common functions you can use to manipulate data in a
# Pandas DataFrame? Can you give an example of when you might use one of these functions?

#sorting function
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 28],
    'City': ['New York', 'London', 'San Francisco'],
    
}

df = pd.DataFrame(data)
print("DataFrame:")
sorted_df = df.sort_values(by='Age')
print(sorted_df)

SyntaxError: expression expected after dictionary key and ':' (835217912.py, line 9)

#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

data frames are mutuable means we can manipulate data frame after its creation